.showcat {
  width: 30%;
  height: 400px;
  position: relative;
  right: 20px;
  margin-left: 15px;
}
.description{
  float: right;
  display: inline;
  vertical-align: top;
  position: absolute;
  height: 400px;
  background-color: Snow;
}
